<ion-view title="Diet">
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-arrow-left-c" ng-click="back()">
       Back
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <form class="create-form" role="form"
        ng-submit="submit()">
      <div class="list">
        <label class="item item-input large item-stacked-label">
            <input ng-model="dietRestrictions" type="text" class="form-control" />
        </label>
      </div>
      <input class="button button-block button-balanced" type="submit" value="Submit" ng-click="updateRestrictions(dietRestrictions)" />
    </form>
    <div class="list">
    </div>
  </ion-content>
</ion-view>