html,
body {
	height: 100%;
	background-color: #e6e6e6;
}

.profile {
	text-align: center;
	color: white;
	font: 36px  Arial, serif;
}

#done {
	float: right;
	margin-right: 10px;
	margin-top: 3px;
}

#back {
	float: left;
	margin-left: 10px;
	margin-top: 3px;
}

.page-container {
	margin-top: 10px;
}

.page-top {
	background-color: #0fd00f;
	margin-right: auto;
	margin-left: auto;
	height: 40px;
}

.bar {
	background-color: #0fd00f;
	height: 5%;
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	border-radius: 5px;
}

.category {
	color: white;
	padding-left: 2%;
	padding-top: 2px;
	font: 20px Arial, serif;
}

.name-field {
	background-color: #aaaaaa;
	height: 5%;
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	border-radius: 5px;
}

.profname {
	color: white;
	padding-left: 2%;
	padding-top: 2px;
	font: 20px Arial, serif;
}

.location-field {
	background-color: #aaaaaa;
	height: 5%;
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	border-radius: 5px;
}

.locationname {
	color: white;
	padding-left: 2%;
	padding-top: 2px;
	font: 20px Arial, serif;
}

.pantry-field {
	background-color: #aaaaaa;
	height: 5%;
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	border-radius: 5px;
}

.pantryname {
	color: white;
	padding-left: 2%;
	padding-top: 2px;
	font: 20px Arial, serif;
}

.share-field {
	background-color: #aaaaaa;
	height: 10%;
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	border-radius: 5px;
}

.sharename {
	color: white;
	padding-left: 2%;
	padding-top: 2px;
	font: 20px Arial, serif;
}

.diet-field {
	background-color: #aaaaaa;
	height: 15%;
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	border-radius: 5px;
}

.dietname {
	color: white;
	padding-left: 2%;
	padding-top: 2px;
	font: 20px Arial, serif;
}