<!DOCTYPE html>
<html lang="en" ng-app="profile-page">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Chefsource Profile Edit Page</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="profileedit.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="site-wrapper">
      <div class="page-container">

        <div class="head clearfix">
          <div class="page-top" ng-controller="button-controller">
            <nav>
                <button type="button" class="btn btn-primary" id="back" ng-click="goback()">Back</button>
                <button type="button" class="btn btn-primary" id="done" ng-click="done()">Done</button>
            </nav>
            <h3 class="profile">Profile Edit</h3>
          </div>
        </div>

        
          <div class="bar">
            <h1 class="category">Name</h1>
          </div>
          <div class="name-field">
            <h1 class="profname">Zack</h1>
          </div>

          <div class="bar">
            <h1 class="category">Location</h1>
          </div>
          <div class="location-field">
            <h1 class="locationname">North Ave Apartments</h1>
          </div>
        
          <div class="bar">
            <h1 class="category">Pantry</h1>
          </div>
          <div class="pantry-field">
            <h1 class="pantryname">Flour</h1>
            <h1 class="pantryname">Sugar</h1>
          </div>

          <div class="bar">
            <h1 class="category">Share Count</h1>
          </div>
          <div class="share-field">
            <h1 class="sharename">Items Shared:</h1>
            <h1 class="sharename">Items Received:</h1>
          </div>

          <div class="bar">
            <h1 class="category">Dietary Restrictions</h1>
          </div>
          <div class="diet-field">
            <h1 class="dietname">None</h1>
          </div>
        
      </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <script>
     var app = angular.module('profile-page', []);
      app.controller('button-controller', ['$scope', '$window', function($scope, $window) {
        $scope.goback=function(){
          $window.history.back();
        }
        $scope.done=function(){
          $window.location='profile.html';
        }
      }]);
    </script>
  </body>
</html>