<!DOCTYPE html>
<html lang="en" ng-app="profile-page">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Chefsource Profile</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="profile.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="site-wrapper" ng-controller="site-control">
      <div class="page-container">

        <div class="head clearfix">
          <div class="page-top">
            <nav>
                <input type="button" class="btn btn-primary" id="back" ng-click="goback()" value="Back" />
                <input type="button" class="btn btn-primary" id="edit" ng-click="edit()" value="Edit" />
            </nav>
            <h3 class="profile">Profile</h3>
          </div>
        </div>

        
          <div class="bar">
            <h1 class="category">Name</h1>
          </div>
          <div class="name-field">
            <!--TODO-->
          </div>

          <div class="bar">
            <h1 class="category">Location</h1>
          </div>
          <div class="location-field">
            <!--TODO-->
          </div>
        
          <div class="bar">
            <h1 class="category">Pantry</h1>
          </div>
          <div class="pantry-field">
            <!--TODO-->
          </div>

          <div class="bar">
            <h1 class="category">Share Count</h1>
          </div>
          <div class="share-field">
            <p class="sharename">Items Shared:</p> <!--TODO-->
            <p class="sharename">Items Received:</p> <!--TODO-->
          </div>

          <div class="bar">
            <h1 class="category">Dietary Restrictions</h1>
          </div>
          <div class="diet-field">
            <!--TODO-->
          </div>

      </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <script>
     var app = angular.module('profile-page', []);
      app.controller('site-control', ['$scope', '$window', '$compile', function($scope, $window, $compile) {
        $scope.goback=function(){
          $window.history.back();
        };

        $scope.edit=function(){
          var buttonText = document.getElementById('edit').value;
          if(buttonText=='Edit') {
            var namebox = '<form><input type="text" maxlength="20" class="text-box" /></form>';
            var locbox = '<form><input type="text" maxlength="20" class="text-box" /></form>';
            var pantrybox = '<form><input type="text" maxlength="100" class="text-box" /></form>';
            var dietbox = '<form><input type="text" maxlength="40" class="text-box" /></form>';
            var topScope = angular.element(document).scope();
            var nameElem = $compile(namebox)(topScope);
            var locElem = $compile(locbox)(topScope);
            var pantryElem = $compile(pantrybox)(topScope);
            var dietElem = $compile(dietbox)(topScope);
            angular.element(document.getElementsByClassName('name-field')[0]).append(nameElem);
            angular.element(document.getElementsByClassName('location-field')[0]).append(locElem);
            angular.element(document.getElementsByClassName('pantry-field')[0]).append(pantryElem);
            angular.element(document.getElementsByClassName('diet-field')[0]).append(dietElem);
            document.getElementById('edit').value='Done';
          } else if(buttonText=='Done') {
            for (var i = document.getElementsByClassName('text-box').length - 1; i >= 0; i--) {
              angular.element(document.getElementsByClassName('text-box')[i]).remove();
            };
            document.getElementById('edit').value='Edit';
          }
        };
      }]);

    </script>
  </body>
</html>